[package]
name = "gkr"
version = "0.1.0"
edition = "2021"

[dependencies]
arith = { path = "../arith" }
babybear = { path = "../arith/babybear" }
config_macros = { path = "../config_macros" }
circuit = { path = "../circuit" }
gf2 = { path = "../arith/gf2" }
gf2_128 = { path = "../arith/gf2_128" }
gkr_engine = { path = "../gkr_engine" }
gkr_hashers = { path = "../hasher" }
gkr_iop = { path = "../gkr_iop" }
goldilocks = { path = "../arith/goldilocks" }
mersenne31 = { path = "../arith/mersenne31" }
poly_commit = { path = "../poly_commit" }
polynomials = { path = "../arith/polynomials" }
serdes = { path = "../serdes" }
sumcheck = { path = "../sumcheck" }
transcript = { path = "../transcript" }
utils = { path = "../utils" }

ark-std.workspace = true
clap.workspace = true
env_logger.workspace = true
ethnum.workspace = true
halo2curves.workspace = true
log.workspace = true
mpi.workspace = true
rand.workspace = true
sha2.workspace = true
thiserror.workspace = true

# for the server
bytes.workspace = true
tokio.workspace = true
warp.workspace = true
chrono.workspace = true
tynm.workspace = true
tiny-keccak.workspace = true

[dev-dependencies]
criterion.workspace = true

[[bin]]
name = "gkr-mpi"
path = "src/main_mpi.rs"

[[bin]]
name = "expander-exec"
path = "src/exec.rs"

[[bin]]
name = "dev-setup"
path = "src/utils.rs"

[features]
default = []
# default = [ "grinding" ]
grinding = [ ]
recursion = [ "transcript/recursion" ]
profile = [ "utils/profile", "sumcheck/profile" ]

[[bench]]
name = "gkr-hashes"
harness = false
path = "benches/gkr_hashes.rs"
