[package]
name = "expander-rs"
version = "0.1.0"
edition = "2021"
default-run = "expander-rs"  # default

[dependencies]
arith = { path = "arith" }

ark-std.workspace = true
clap.workspace = true
halo2curves.workspace = true
log.workspace = true
rand.workspace = true
sha2.workspace = true

[[bin]]
name = "expander-exec"
path = "src/exec.rs"

[workspace]
members = [
    "arith",
    "bi-kzg"
]

[workspace.dependencies]
ark-std = "0.4"
ark-bn254 = "0.4.0"
ark-ec = "0.4.0"
ark-ff = { version = "0.4" }
clap = { version = "4.1", features = ["derive"] }
criterion = { version = "0.5", features = ["html_reports"] }
itertools = "0.13"
log = "0.4"
rand = "0.8.5"
rayon = "1.10"
sha2 = "0.10.8"

halo2curves = { git = "https://github.com/zhenfeizhang/halo2curves", default-features = false, features = [ "bits", "bn256-table" ] }
