[package]
name = "expander-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
arith = { path = "arith" }
ark-std = "0.4"
log = "0.4"
rand = "0.8.5"
sha2 = "0.10.8"

halo2curves = { git = "https://github.com/zhenfeizhang/halo2curves" }

[workspace]
members = [
    "arith"
]