[package]
name = "expander-rs"
version = "0.1.0"
edition = "2021"
default-run = "expander-rs" # default

[dependencies]
arith = { path = "arith" }
gf2 = { path = "arith/gf2" }
gf2_128 = { path = "arith/gf2_128" }
mersenne31 = { path = "arith/mersenne31" }

ark-std.workspace = true
clap.workspace = true
env_logger.workspace = true
log.workspace = true
rand.workspace = true
sha2.workspace = true
halo2curves.workspace = true
thiserror.workspace = true

# for the server
bytes.workspace = true
tokio.workspace = true
warp.workspace = true
chrono.workspace = true
tynm.workspace = true
tiny-keccak.workspace = true

[dev-dependencies]
criterion = "0.5.1"

[[bin]]
name = "expander-exec"
path = "src/exec.rs"

[[bin]]
name = "dev-setup"
path = "src/utils.rs"

[features]
avx256 = [ "arith/avx256" ]
default = []
# default = [ "grinding" ]
grinding = []

[workspace]
members = [
    "arith", # definitions of Field, Extensions, SIMDS
    "arith/gf2",    
    "arith/gf2_128",
    "arith/goldilocks",
    "arith/mersenne31",
    "bi-kzg"
    ]

[workspace.dependencies]
ark-std = "0.4"
ark-bn254 = "0.4.0"
ark-ec = "0.4.0"
ark-ff = { version = "0.4" }
bytes = "1.6.0"
chrono = "0.4.38"
clap = { version = "4.1", features = ["derive"] }
criterion = { version = "0.5", features = ["html_reports"] }
env_logger = "0.11.3"
halo2curves = { git = "https://github.com/PolyhedraZK/halo2curves", default-features = false, features = [
    "bits",
] }
itertools = "0.13"
log = "0.4"
p3-baby-bear = { git = "https://github.com/Plonky3/Plonky3.git", version = "0.1.0", features = ["nightly-features"] }
p3-field = { git = "https://github.com/Plonky3/Plonky3.git", version = "0.1.0" }
# This import should be unnecessary but p3-baby-bear fails to turn on "nightly-features" for this dependency
p3-monty-31 = { git = "https://github.com/Plonky3/Plonky3.git", version = "0.1.0", features = ["nightly-features"] }
rand = "0.8.5"
rayon = "1.10"
sha2 = "0.10.8"
tiny-keccak = { version = "2.0.2", features = [ "sha3" ] }
tokio = { version = "1.38.0", features = ["full"] }
tynm = { version = "0.1.6", default-features = false }
warp = "0.3.7"
thiserror = "1.0.63"
ethnum = "1.5.0"

[[bench]]
name = "bn254_fr"
harness = false
path = "arith/benches/fr.rs"

[[bench]]
name = "gf2"
harness = false
path = "arith/gf2/benches/gf2.rs"

[[bench]]
name = "gf2_128"
harness = false
path = "arith/gf2_128/benches/gf2_128.rs"

[[bench]]
name = "m31"
harness = false
path = "arith/mersenne31/benches/m31.rs"

[[bench]]
name = "gkr-hashes"
harness = false
path = "benches/gkr_hashes.rs"
