[package]
name = "expander-rs"
version = "0.1.0"
edition = "2021"
default-run = "expander-rs" # default

[dependencies]
arith = { path = "arith" }
ark-std = "0.4"
clap = { version = "4.1", features = ["derive"] }
log = "0.4"
rand = "0.8.5"
sha2 = "0.10.8"
halo2curves = { git = "https://github.com/zhenfeizhang/halo2curves", default-features = false, features = [
    "bits",
] }
# for the server
warp = "0.3.7"
tokio = { version = "1.38.0", features = ["full"] }
bytes = "1.6.0"

[workspace]
members = ["arith"]

[[bin]]
name = "expander-exec"
path = "src/exec.rs"
