[package]
name = "expander-rs"
version = "0.1.0"
edition = "2021"
default-run = "expander-rs" # default

[dependencies]
arith = { path = "arith" }
ark-std.workspace = true
clap.workspace = true
env_logger.workspace = true
log.workspace = true
rand.workspace = true
sha2.workspace = true
halo2curves.workspace = true

# for the server
bytes.workspace = true
tokio.workspace = true
warp.workspace = true
chrono.workspace = true
tynm.workspace = true

[dev-dependencies]
criterion = "0.5.1"

[[bin]]
name = "expander-exec"
path = "src/exec.rs"

[features]
default = []
# default = [ "grinding" ]
grinding = []

[workspace]
members = ["arith", "bi-kzg"]

[workspace.dependencies]
ark-std = "0.4"
ark-bn254 = "0.4.0"
ark-ec = "0.4.0"
ark-ff = { version = "0.4" }
bytes = "1.6.0"
chrono = "0.4.38"
clap = { version = "4.1", features = ["derive"] }
criterion = { version = "0.5", features = ["html_reports"] }
env_logger = "0.11.3"
halo2curves = { git = "https://github.com/PolyhedraZK/halo2curves", default-features = false, features = [
    "bits",
] }
itertools = "0.13"
log = "0.4"
rand = "0.8.5"
rayon = "1.10"
sha2 = "0.10.8"
tokio = { version = "1.38.0", features = ["full"] }
tynm = { version = "0.1.6", default-features = false }
warp = "0.3.7"
zerocopy = "0.7.35"
zerocopy-derive = "0.7.35"

[[bench]]
name = "arith"
harness = false
path = "arith/benches/field.rs"

[[bench]]
name = "gkr-hashes"
harness = false
path = "benches/gkr_hashes.rs"