name: Run Benchmarks

env:
  RUSTFLAGS: "-Dwarnings -C target-cpu=native"
  RUST_BACKTRACE: 1
  ACTIONS_RUNNER_DEBUG: true

# Cancel all previous runs of the same workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on: [push]

jobs:
  benchmark:
    runs-on: 7950x3d
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Setup Dependencies for Linux
      run: sudo apt-get update && sudo apt-get install -y build-essential openmpi-bin libopenmpi-dev
    
    - name: update toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    
    - name: Install MPI
      run: python3 ./scripts/install.py
    - name: Install criterion
      run: cargo install cargo-criterion
    - name: Setup data
      run: cargo run --bin=dev-setup --release
    - name: Run benchmark
      run: RUSTFLAGS="-C target-cpu=native" cargo criterion --message-format=json > benchmark_results.json
    - name: Clean benchmark results
      run: |
        wget https://raw.githubusercontent.com/PolyhedraZK/Expander/main/scripts/parse_benchmark_result.py
        python3 parse_benchmark_result.py benchmark_results.json benchmark_results_clean.json
    - name: Upload benchmark results to R2
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
      run: |
        commit_hash=$(git rev-parse HEAD)
        repo_name="${GITHUB_REPOSITORY#*/}"
        aws s3 cp benchmark_results_clean.json s3://expander-circuits/benchmarks/${repo_name}/benchmark_${commit_hash}.json --endpoint-url ${{ secrets.R2_ENDPOINT }}
