# Expander CI: unit tests on 7950 server
# it runs on both macos and ubuntu avx-512
# currently disabled as the server is buggy

name: expander-rs CI

on: [push]

env:
  RUSTFLAGS: "-Dwarnings -C target-cpu=native -C target-feature=+avx512f"
  RUST_BACKTRACE: 1
  ACTIONS_RUNNER_DEBUG: true

jobs:
  

  build-and-test:
    name: Build and Test 7950x3d AVX512
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: 7950x3d
            feature: avx512f
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "mpi-v5.0.6"
      
      - name: Setup Dependencies
        run: |
          sudo apt-get install -y build-essential openmpi-bin libopenmpi-dev
          mpiexec --version
      
      - name: Download test data
        run: cargo run --bin=dev-setup --release
      
      - name: Build project
        run: cargo build --all-features --release
      
      - name: Run unit tests
        run: cargo test --all-features --release --workspace
      
      - name: Run E2E tests
        run: |
          cp ./recursion/small_circuit_m31.circ ./data/small_circuit_m31.txt
          cp ./recursion/small_witness_m31.circ ./data/small_witness_m31.txt
          ./scripts/test_recursion.py

      - name: Run benchmarks
        run: |
          cargo run --bin=dev-setup --release
          cargo run --bin=gkr --release -- -t 4 -f gf2ext128
          cargo run --bin=gkr --release -- -t 4 -f m31ext3
          cargo run --bin=gkr --release -- -t 4 -f fr
